{% load static %}


<html>
{% load pwa %}
{% progressive_web_app_meta %}
    <head>
        <title>{% block title %}{% endblock title %}</title>
        {% block css %} {% endblock css %}
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
         <link rel="stylesheet" href="{% static 'js/serviceworker.js'  %}">
    </head>
    <body style="background-color:rgb(77, 226, 199)">
    {% block navbar %}
    <!-- Cabezera -->
    <nav id="navbar">
        <div id="navbar-logo">
            <img src="{% static 'images/img/logo.jpg' %}" alt="logo">
        </div>
        
        <div id="nav">
            <ul>            
                <li class="nav-item"><a href="{% url 'home' %}">Inicio</a></li>
              
                <li class="nav-item"><a href="{% url 'buscar_plantas' %}">Buscar plantas por tamaño</a></li>
                <li class="nav-item"><a href="{% url 'mantenedor' %}">Buscar tipos y cantidad</a></li>
         

                {% if not user.is_authenticated %}        
                <li class="nav-item"><a href="{% url 'login' %}">Iniciar sesión</a></li>

                <li class="nav-item"><a href="{% url 'registrar' %}">Registrarse</a></li>
                <li class="nav-item"><a href="{% url 'password_reset' %}">Recuperacion de contraseña</a></li>

                {% endif %}
                
                {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'list_tipos' %}">Listado de tipos de plantas</a></li>
                <li class="nav-item"><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                <li class="nav-item"><a href="{% url 'vendedores_list' %}">Personal de trabajo</a></li>


                {% if user.is_superuser %}

                <li class="nav-item"><a style="color: red;" href="{% url 'list_tipos' %}">Borrar Tipos de plantas</a></li>

                {% endif %}                

                <span class="ml-md-5" style="color: blue;"><strong>Usuario: {{ user.get_username }}</strong></span>
                {% endif %}                
            </ul>
        </div>                                 
    </nav>
    {% endblock %}
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
    <div>
        {% block footer %} {% endblock %}
    </div>
    {% block javascript %} {% endblock javascript %}
    </body>
</html>
