{% extends 'base.html' %}

{% load static %}

{% block title %}<h1>Buscador Plantas</h1>{% endblock title %}

{% block content %} 
<h3 style="color: darkgreen;"> Ingrese el tamaño de la planta que busca</h3>

<form action="{% url 'search_results' %}" method="get">
  <input name="q" type="text" placeholder="escriba el tamaño ">
</form>


{% endblock content %}
