

<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editor de plantas</title>
</head>
<body>
    <h1>Editar los tipos de plantas</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        
        <button type="submit">GRABAR</button>
    </form>    
</body>
</html>