{% extends 'base.html' %} 

{% block titulo_principal %}

<div id=titulo_pagina>
    Lista de Tipos de plantas registradas
</div>
{% endblock %} 



{% block content %} 

    <h3>Listado de Tipos de plantas</h3>

    <form class="form-inline mb-5" method="GET">
        <div class="form-group mx-3">
            <label class="mr-2">Buscar cantidad minima de clases de plantas:</label>

            <select class="form-control mr-2" name="cant-cantidad">
                <option value="2">Dos</option>
                <option value="3">Tres</option>
                <option value="4">Cuatro</option>
                <option value="5">Cinco</option>
                <option value="6">Seis</option>
                <option value="7">Siete</option>

            </select>        
            <button class="btn btn-secondary" type="submit" name="btn-buscarCantcantidad">Buscar</button>            
        </div>

        <div class="form-group mx-3">
            <label class="mr-2">Buscar por el nombre del tipo:</label>
            <input type="text" class="form-control mr-2" name="nombre-tipo">            
            <button class="btn btn-secondary" type="submit" name="btn-nombre-tipo">Buscar</button>            
        </div>        

    </form>
    
{% if object_list %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Tamaño</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for tipo in object_list %}
        <tr>
            <th scope="row">{{ tipo.nombre }} </th>
            <td>{{ tipo.cantidad }}</td>
            <td>{{ tipo.tamaño }}</td>
            {% if user.is_superuser %}

            <td><a class="btn btn-primary" href="{% url 'edit_tipo' tipo.id %}">Editar</a></td>
            <td><a class="btn btn-danger" href="{% url 'del_tipo' tipo.id %}">Eliminar</a></td>
            {% endif %}                

        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
    <h1>No hay registros </h1>
{% endif %} {% endblock %}

