<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Listar tipos de plantas</title>
  </head>

  <body>
    <h2>Lista de Tipos de plantas</h2>

    {% for c in tipos %}
        <div>
            <p> Nombre: {{ c.nombre }} </p>
            <p>Cantidad: {{ c.cantidad }} </p>
        </div>
        <br>
    {% endfor %}

  </body>
</html>
