{% extends 'base.html' %} 

{% block titulo_principal %}

<div id=titulo_pagina>
    Lista de Tipos de plantas registradas
</div>
{% endblock %} 

{% block content %} {% if object_list %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Tamaño</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for tipo in object_list %}
        <tr>
            <th scope="row">{{ tipo.nombre }} </th>
            <td>{{ tipo.cantidad }}</td>
            <td>{{ tipo.tamaño }}</td>

                {% if user.is_superuser %}

            <td><a class="btn btn-primary" href="{% url 'edit_tipo' tipo.id %}">Editar</a></td>
            <td><a class="btn btn-danger" href="{% url 'del_tipo' tipo.id %}">Eliminar</a></td>
            {% endif %}                

        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
    <h1>No hay registros de tipos de plantas</h1>
{% endif %} {% endblock %}
