{% extends 'base.html' %}

{% load static %}

{% block title %}Resultados {% endblock title %}

{% block content %} 
<ul>
  {% for planta in object_list %}
    <li> Nombre: {{ planta.nombre }}</li>
    <li> Cantidad disponible: {{ planta.disponibles }}  </li>
    <li> Tamaño: {{ planta.tamaño }}</li>
    <li> ------------------------------------------------ </li> 
  {% endfor %}
</ul>

{% endblock content %}
