{% extends 'Registro/base.html' %} 

{% block content %}
    <div class="text-center">
        <form method="post">
            {% csrf_token %}

                <p class="delete-msg"> ¿Estas seguro que deseas eliminar el tipo {{ object.nombre }}?</p>

            <button class="btn btn-primary" type="submit">Si</button>

            <a href="{% url 'list_tipos' %}" class="btn btn-secondary">NO</a>
        </form>
    </div>
{% endblock %}