{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
<h1 class="display-3">Listado de vendedores</h1>
<hr>
{% if user.is_superuser %}
<a class="btn" role="button" href="{% url 'vendedores_form' %}">Agregar</a>
{% endif %}                

<hr>

{% if not object_list %}
<h1>No hay registro de Vendedores</h1>
<br><br><br><br><br><br><br><br>
{% else %}
<table class="table table-bordered">
    <thead>
         <tr>
             <td>Fotografia</td>
             <td>Rut</td>
             <td>Nombre</td>
             <td>Email</td>
             <td>Grado</td>
         </tr>
    </thead>
    <tbody>  
         {% for vendedor in object_list %}      
         <tr>
             <td><img src= ../../static/images/{{ vendedor.fotografia }} style="width: 100px;"/> </td>
             <td>{{ vendedor.rut }}</td>
             <td>{{ vendedor.nombre }}</td>
             <td>{{ vendedor.email }}</td>
             <td>{{ vendedor.grado }}</td>
             <td>
                {% if user.is_superuser %}

                 <a class="btn btn-primary" href="{% url 'vendedores_update' vendedor.id%}">  Editar  </a>
                 <a class="btn btn-danger" href="{% url 'vendedores_borrar' vendedor.id%}">Eliminar</a>
             </td>
             {% endif %}                

         </tr>
         {% endfor %}                                
    </tbody>
</table>
{% endif %}

</div>

{% endblock %}
