{% extends "base.html" %}
{% block content %}
    <div class="alert alert-info">
        Tu contraseña ha sido cambiada con exito.
    </div>
    <a href="{% url 'login' %}">Click para loguiarse</a>
{% endblock content %}