{% extends 'base.html' %} 

{% block content %}
    <h1>Agregar Usuario</h1>
    
    <div class="content container">
    <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">GRABAR</button>
    </form>
    </div>

{% endblock %}
