#registro {
    padding-top: 2em;
    padding-bottom: 4em;
    width: 100%;
    align-content: center;
    background-color: #00008b;
}

.col-md-2 {
    width: auto;
}

.field_container{
    align-content: center;
    width: 100%;
}

@media (max-width: 767px) {
    #formulario {
        width: 100%;
    }
}

.body{
    background-color: darkblue;
}